@import "tailwindcss";

body{
    background: rgb(225, 221, 221);
    min-height: 100vh;
    width: 100%;
}
aside nav ul li{
    transition: 0.4s all ease-in-out;
}
aside nav ul li:hover, nav ul li.active{
    transform: scale(1.05) translateX(10px);
}

aside nav ul li:hover, nav ul li.active{
    background: #f31b87 ;
    color: #fff;
}